div {
  width: 200px;
  height: 200px;
  margin: 150px 50px;
  border: 1px solid #000;
  float: left;
}
div p {
  width: 100%;
  height: 100%;
  background: blue;
  opacity: 0.3;
  transform: rotateY(50deg);
}
div:nth-child(1) {
  perspective: 150px;
}
div:nth-child(3) {
  perspective: 800px;
}