@keyframes ani {
  0% {transform: rorate(0deg);}
  100% {transform: rotate(360deg);}
}

div {
  width: 300px;
  height: 300px;
  background: blue;
  margin: 100px;
  animation: ani 2s linear 3 normal;
}